.product {
  width: 900px;
  margin-bottom: 1rem;
  box-shadow: 0 2px 8px #000000;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
}

.product_image {
  width: 250px;
  border-radius: 10px;
}

.product_details {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.details_title {
  font-size: 0.8rem;
  font-weight: bold;
  color: #505050;
}

.details_description {
  font-size: 0.85rem;
  color: #505050;
}

.details_price {
  font-size: 1.2rem;
  font-weight: bold;
  color: #505050;
}

.product_buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 1rem;
}

.buttons_button {
  width: 100px;
  padding: 0.5rem;
  border: 1px solid #505050;
  border-radius: 10px;
  font-size: 0.65rem;
  font-weight: bold;
  cursor: pointer;
}

.buttons_button:hover {
  opacity: 0.7;
}

.buttons_view {
  background: #ffffff;
  color: #505050;
}

.buttons_add {
  background: #505050;
  color: #ffffff;
}
