.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.2rem;
  background: #da291c;
  position: sticky;
  top: 0;
  left: 0;
}

.navbar_logo {
  font-size: 40px;
  font-weight: bold;
  color: #fff;
}

.navbar_basket {
  background: #fff;
  width: 180px;
  border: none;
  border-radius: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  cursor: pointer;
}

.navbar_basket:hover {
  opacity: 0.75;
}

.basket_title {
  font-size: 30px;
  font-weight: bold;
  color: #000000;
}

.basket_image {
  width: 30px;
  height: 30px;
  object-fit: contain;
}

.basket_counter {
  height: 40px;
  width: 40px;
  border: 1px solid #505050;
  border-radius: 50%;
  color: #000000;
  background: #ffffff;
  font-size: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}
